<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Product</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
</head>
<body class="create-product-page">
<div class="navbarTop">
    <ul>
        <li><a th:href="@{/}">Home</a></li>
        <li th:if="${loggedInUser != null}"><a th:href="@{/wishlists/showWishlist}">Show my wishlists</a></li>
        <li><a th:href="@{/contactUs}">Contact</a></li>
        <li><a th:href="@{/about}">About</a></li>
    </ul>
    <div class="welcomeBox" th:if="${loggedInUser != null}">
        Welcome <span th:text="${loggedInUser.username}">USERNAME</span>
    </div>
</div>

<div class="content-container">
    <div class="container">
        <h1>Add product to wishlist</h1>

        <form th:action="@{/products/add}" method="post">
            <input type="hidden" name="wishlistId" th:value="${wishlistId}" />

            <label>Product name:</label>
            <input type="text" name="name" required><br>

            <label>Description:</label>
            <textarea name="description" required></textarea><br>

            <label>Price:</label>
            <input type="number" step="0.01" name="price" required><br>

            <div class="button-group">
                <button type="submit" class="submit">Save product</button>
                <a th:href="@{/wishlists/edit/{id}(id=${wishlistId})}" class="submit">Back to wishlist</a>
            </div>
        </form>
    </div>
</div>

<div class="footer">
    <p>© 2025 Wishcloud</p>
    <p>Projekt 2 - Gruppe 4</p>
</div>

</body>
</html>