<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
</head>
<body>
<div class="navbarTop">
    <ul>
        <li><a th:href="@{/}">Home</a></li>
        <li><a th:href="@{/showWishlist}" class="active">Show my wishlists</a></li>
        <li><a th:href="@{/contactUs}">Contact</a></li>
        <li><a th:href="@{/about}">About</a></li>
    </ul>
    <div class="welcomeBox" th:if="${loggedInUser != null}">
        Welcome <span th:text="${loggedInUser.username}">USERNAME</span>
        <form th:action="@{/logout}" method="post">
            <button type="submit" class="logout-button">Log out</button>
        </form>
    </div>
</div>

<div class="footer">
    <p>&copy; 2025 Wishcloud</p>
    <p>Projekt 2 - Gruppe 4</p>
</div>

</body>
</html>