<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/static/style.css" rel="stylesheet" th:href="@{style.css}">
</head>
<body>

<div class="navbarTop">
    <ul>
        <li><a th:href="@{/}" class="active">Home</a></li>
        <li><a th:href="@{/showWishlist}">Show my wishlists</a></li>
        <li><a th:href="@{/contactUs}">Contact</a></li>
        <li><a th:href="@{/about}" >About</a></li>
    </ul>
</div>

<div class="productContainer">
    <div class="square" th:each="product : ${productList}">
        <img th:src="@{'/img/' + ${product.image}}" alt="Product Image">
        <div>
            <label>ID:</label>
            <span th:text="${product.id}">ID</span>
        </div>

        <div>
            <label>Name:</label>
            <span th:text="${product.name}">Name</span>
        </div>

        <div>
            <label>Description:</label>
            <span th:text="${product.description}">Description</span>
        </div>

        <div>
            <label>Price:</label>
            <span th:text="${product.price}">Price</span>
        </div>
    </div>
</div>

</body>
</html>
