<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/static/style.css" rel="stylesheet" th:href="@{style.css}">
</head>
<body>

<div class="navbarTop" >
    <ul>
        <li><a href="index.html" class="active">Home</a></li>
        <li><a href="showWishlist.html">Show my wishlists</a></li>
        <li><a href="contactUs.html">Contact</a></li>
        <li><a href="about.html">About</a></li>
    </ul>
</div>

<div class="productContainer" >
    <div class="square" th:each="product : ${productList}">

        <div>
            <label>ID:</label>
            <span th:text="${product.id}">ID</span>
        </div>

        <div>
            <label>Name:</label>
            <span th:text="${product.name}">ID</span>
        </div>

        <div>
            <label>Description:</label>
            <span th:text="${product.description}">description</span>
        </div>

        <div>
            <label>Price:</label>
            <span th:text="${product.price}">price</span>
        </div>

    </div>
</div>

</body>
</html>