<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{style.css}">
</head>
<body>

<div class="container" >
    <div class="square" th:each="product : ${productList}">

        <div>
            <label>ID:</label>
            <span th:text="${product.id}">ID</span>
        </div>

        <div>
            <label>Name:</label>
            <span th:text="${product.name}">ID</span>
        </div>

        <div>
            <label>Description:</label>
            <span th:text="${product.description}">type</span>
        </div>

        <div>
            <label>Price:</label>
            <span th:text="${product.price}">colour</span>
        </div>

    </div>
</div>

</body>
</html>