<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/style.css" rel="stylesheet" th:href="@{style.css}">
    <title>Wishlist</title>
</head>
<body>
<div class="navbarTop">
    <ul>
        <li><a th:href="@{/}">Home</a></li>
        <li><a th:href="@{/showWishlist}">Show my wishlists</a></li>
        <li><a th:href="@{/contactUs}" class="active">Contact</a></li>
        <li><a th:href="@{/about}">About</a></li>
    </ul>
    <div class="welcomeBox" th:if="${loggedInUser != null}">
        Welcome <span th:text="${loggedInUser.username}">USERNAME</span>
    </div>
</div>
<h1>Wishlist: <span th:text="${wishlist.title}"></span></h1>
<p><strong>Description:</strong> <span th:text="${wishlist.description}"></span></p>
<p><strong>Pincode:</strong> <span th:text="${wishlist.pincode}"></span></p>

<h2>Products</h2>
<ul>
    <li th:each="product : ${wishlist.products}">
        <strong>Product name:</strong> <span th:text="${product.name}"></span><br>
        <strong>Description:</strong> <span th:text="${product.description}"></span><br>
        <strong>Price:</strong> <span th:text="${product.price}"></span>
    </li>
</ul>

<a th:href="@{/getCreateProduct(wishlistId=${wishlist.id})}">
    <button>Create Product</button>
</a>

<a href="/wishlists">
    <button>Back to all wishlists</button>
</a>
</body>
</html>