<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/static/style.css" rel="stylesheet" th:href="@{style.css}">
</head>
<body>

<div class="navbarTop" >
    <ul>
        <li><a th:href="@{/}" >Home</a></li>
        <li><a th:href="@{/showWishlist}" class="active" >Show my wishlists</a></li>
        <li><a th:href="@{/contactUs}" >Contact</a></li>
        <li><a th:href="@{/about}"  >About</a></li>
    </ul>
</div>
<h1>Create a Wishlist</h1>
<form action="/saveCreateWishlist" method="post">
    <label for="title">Wishlist Title:</label><br>
    <input type="text" id="title" name="title" required><br><br>

    <label for="description">Description:</label><br>
    <textarea id="description" name="description" required></textarea><br><br>

    <label for="pincode">Pincode (4 digits):</label><br>
    <input type="text" id="pincode" name="pincode" pattern="\d{4}" required><br><br>

    <button type="submit">Create Wishlist</button>
</form>
</body>
</html>