<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Wishlist</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
</head>
<body class="view-wishlist-page">
<div class="navbarTop">
    <ul>
        <li><a th:href="@{/}">Home</a></li>
        <li><a th:href="@{/showWishlist}" class="active">Show my wishlists</a></li>
        <li><a th:href="@{/contactUs}">Contact</a></li>
        <li><a th:href="@{/about}">About</a></li>
    </ul>
    <div class="welcomeBox" th:if="${loggedInUser != null}">
        Welcome <span th:text="${loggedInUser.username}">USERNAME</span>
        <form th:action="@{/logout}" method="post">
            <button type="submit" class="logout-button">Log out</button>
        </form>
    </div>
</div>

<div class="container">
    <header>
        <h1>Wishlist: <span th:text="${wishlist.title}"></span></h1>
    </header>
    <br>
    <div class="wishlist-details">
        <p><strong>Description:</strong> <span th:text="${wishlist.description}"></span></p>
        <p><strong>Pincode:</strong> <span th:text="${wishlist.pincode}"></span></p>
        <p><strong>ID:</strong> <span th:text="${wishlist.id}"></span></p>
    </div>
    <br>
    <h2>Actions:</h2>
    <ul class="actions">
        <li><a href="/wishlists/showWishlist" class="button">Back to wishlists</a></li>
    </ul>
</div>

<div class="footer">
    <p>&copy; 2025 Wishcloud</p>
    <p>Projekt 2 - Gruppe 4</p>
</div>

</body>
</html>
